.feature-window {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.feature-window .overlap-group-wrapper {
    background-color: #ffffff;
    height: 1117px;
    overflow: hidden;
    width: 1728px;
}

.feature-window .overlap-group {
    height: 1191px;
    left: -49px;
    position: relative;
    top: -81px;
    width: 1817px;
}

.feature-window .rectangle {
    background: linear-gradient(
        180deg,
        rgb(235.66, 63.63, 218.46) 0%,
        rgb(146.61, 72.83, 133.41) 23.54%,
        rgb(128.57, 64.69, 130.84) 60%,
        rgb(124.44, 14.53, 176.16) 94.9%
    );
    border: 8px solid;
    border-color: #802999;
    border-radius: 20px;
    box-shadow: 0px 12px 4px 10px #00000040;
    height: 523px;
    left: 227px;
    position: absolute;
    top: 240px;
    width: 1362px;
}

.feature-window .div {
    border: 0px none;
    filter: blur(50px);
    height: 1117px;
    left: 49px;
    position: absolute;
    top: 0;
    width: 1728px;
}

.feature-window .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 8px #00000040;
    height: 330px;
    left: 735px;
    position: absolute;
    top: 340px;
    width: 356px;
}

.feature-window .rectangle-3 {
    background-color: #fffdfd;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 8px #00000040;
    height: 330px;
    left: 306px;
    position: absolute;
    top: 340px;
    width: 356px;
}

.feature-window .rectangle-4 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 8px #00000040;
    height: 330px;
    left: 1166px;
    position: absolute;
    top: 340px;
    width: 356px;
}

.feature-window .rectangle-5 {
    background-color: #fffbfb;
    border: 3px solid;
    border-color: #802a9a;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 12px #00000040;
    height: 255px;
    left: 334px;
    position: absolute;
    top: 380px;
    width: 299px;
}

.feature-window .img {
    height: 255px;
    left: 764px;
    position: absolute;
    top: 512px;
    width: 299px;
}

.feature-window .rectangle-6 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #802a9a;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 12px #00000040;
    height: 255px;
    left: 1194px;
    position: absolute;
    top: 380px;
    width: 299px;
}

.feature-window .rectangle-55 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #802a9a;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 12px #00000040;
    height: 255px;
    left: 763px;
    position: absolute;
    top: 380px;
    width: 299px;
}

.feature-window .screenshot {
    height: 186px;
    left: 1214px;
    object-fit: cover;
    position: absolute;
    top: 410px;
    width: 271px;
    scale: 90%;
}

.feature-window .screenshot-2 {
    height: 186px;
    left: 806px;
    position: absolute;
    top: 420px;
    width: 213px;
}

.feature-window .floor-plan-with {
    height: 269px;
    left: 306px;
    object-fit: cover;
    position: absolute;
    top: 375px;
    width: 361px;
    scale: 85%;
}

.feature-window .rectangle-7 {
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-color: #8046a2;
    filter: blur(70px);
    height: 81px;
    left: 1px;
    position: absolute;
    top: 41px;
    width: 1816px;
}

.feature-window .rectangle-8 {
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-color: #8046a2;
    filter: blur(70px);
    height: 81px;
    left: 0;
    position: absolute;
    top: 1107px;
    transform: rotate(179.81deg);
    width: 1816px;
}

.feature-window .whatsapp-image {
    height: 166px;
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 88px;
    width: 561px;
}

.feature-window .ellipse {
    background-color: #dad4d4;
    border: 6px solid;
    border-color: #924885;
    border-radius: 39px/37px;
    box-shadow: inset 0px 4px 4px 12px #00000040;
    height: 74px;
    left: 1637px;
    position: absolute;
    top: 140px;
    width: 78px;
}

.feature-window .ellipse-2 {
    background-color: #dad4d4;
    border: 6px solid;
    border-color: #924885;
    border-radius: 39px/37px;
    box-shadow: inset 0px 4px 4px 12px #00000040;
    height: 74px;
    left: 1484px;
    position: absolute;
    top: 140px;
    width: 78px;
}

.feature-window .screenshot-3 {
    height: 50pxpx;
    left: 1495px;
    object-fit: cover;
    position: absolute;
    top: 156px;
    width: 55px;
    border-radius: 100%;
    scale: 113%;
}

.feature-window .user {
    height: 58px;
    left: 1644.5px;
    object-fit: cover;
    position: absolute;
    border-radius: 100%;
    top: 147px;
    width: 64px;
}

.screenshot-3:hover{
    scale: 105%;
    cursor: pointer;
}
.user:hover{
    scale: 95%;
    cursor: pointer;
}

.frontElevation:hover{
    scale: 95%;
    cursor: pointer;
}

.object:hover{
    scale: 105%;
    cursor: pointer;
}

.floor-plan-with:hover{
    scale: 90%;
    cursor: pointer;
}