.front-elevation-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f8; /* Adjust the color to match your theme */
}

.front-elevation-list-title {
  color: #9c27b0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.model-list {
  width: 100%;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.model-item-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.model-info {
  margin-bottom: 1rem;
}

.model-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.model-text {
  margin-bottom: 1rem;
}

.model-name, .model-style, .model-color {
  color: #333;
  margin-bottom: 0.5rem;
}

.customize-button {
  background-color: #9c27b0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.customize-button:hover {
  background-color: #7c43bd;
}
