@import '@fortawesome/fontawesome-free/css/all.css';

.home-main{
  display: flex;
  flex-direction: row;
}

.home-main .sidebar{
  left: 0%;
  width: 20%;
  margin-top: 3%;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  padding-top: 7%;
  width: 80%;
  padding-bottom: 80%;
}

.home .main{
  width: 100%;
}


.home .box{
  border-radius: 10px;
  background: linear-gradient(170deg, rgb(219, 79, 207) 0%, rgb(151, 1, 146) 85.15%);
  width: 100%;
}

.home .box h1{
  font-size: xx-large;
  font-family: sans-serif ms;
  font-weight: 500;
}

.home .box .heading{
  padding-top: 1%;
}

.home .box .subheading h2{
  color: rgba(255, 255, 255, 0.508);
  margin-bottom: 1%;
}

.home .box .links{
  margin-top: 0%;
  padding-top: 0%;
}

.home .buttons{
  margin-top: 0%;
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home .buttons .button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 3%;
  transition: all 0.1s;
  cursor: pointer;
  margin-top: 0%;
  padding-top: 0%;
}

.home .buttons .button i{
  font-size: 30px;
  padding: 0%;
  color: black;
}

.home .buttons .button button{
  background-color: #f2f2f2;
  height: 70px;
  width: 70px;
  box-shadow: none;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
  box-shadow: #d103c7 0 1px 10px;
}

.home .buttons .button p{
  margin-top: 0px;
}

.home .buttons .button:hover button{
  background-color: #d103c7;
}
.home .buttons .button:hover i{
  color: white;
}
.home .buttons .button:hover img{
  filter: invert(1);
}

.button.selected{
  border: 0.1px solid #d103c7;
}