/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #95049500; /* Adjust the color to match your design */
  padding: 0.5rem 2rem;
}

.navbar-logo img {
  height: 70px; /* Adjust the size as needed */
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #6e0667;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: medium;
  margin: 0rem 0.3rem;
}

.navbar-links a:hover {
  background-color: #b015a6b3; /* A slightly darker shade for the hover state */
  color: #ffffff;
}

/* You can add a class to the link that is active so that it can have a different style */
.navbar-links .active {
  background-color: #4b0082; /* A different shade to indicate the active page */
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide the links on smaller screens */
    /* You might want to add a hamburger menu icon and script to toggle the links */
  }

  .navbar-logo img {
    height: 40px; /* Adjust the size for smaller screens */
  }
}

/* Additional styles for Login/Signup button to make it stand out */
.navbar-links a.login-signup {
  background-color: #4CAF50; /* Adjust the color to match your design */
  color: white;
}

.navbar-links a.login-signup:hover {
  background-color: #367c39; /* A darker shade for the hover state */
}
