.hello{
    color: aquamarine;
}
.space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px #9500accc;
    width: fit-content;
    height: fit-content;
}
.container{
    margin-top: 10%;
}

.space button{
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 800px;
    color:#ffffff;
    font-weight: 600;
    font-size: large;
    border-radius: 100px 300px 100px 300px;
    background-color: #9500accc;
    width: fit-content;
    padding: 9px 38px;
    align-items: center;
    text-align: center;
    margin-left: 650px;
    margin-top: 30px;
}

.space button:hover{
    background-color:#a04cbc;
    color: #fafcfe;
    transition: color 0.5s ease;
  }