.hello{
    color: aquamarine;
}
.space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px #9500accc;
    width: fit-content;
    height: fit-content;
}
.container{
    margin-top: 10%;
}

.space button{
    background-color: #841195;
    padding: 10px;
    border-radius: 7px;
    color: white;
    margin-left: 390px;
}